<h1 id="header">An open wiki for the world to modify</h1>
<p class="center">A small project to solidify my understanding of middleware, static file management, EJS templating, server setup, and route management.</p>