<div id="header">
    <a href="/"><p>Homepage</p></a>
    <a href="/section1"><p>Section 1</p></a>
    <a href="/section2"><p>Section 2</p></a>
    <a href="/section3"><p>Section 3</p></a>
    <a href="/section4"><p>Section 4</p></a>
    <a href="/section5"><p>Section 5</p></a>
</div>
<hr>